@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_link {
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #5d5dec;
    font-size: 20px;
    color: white;
    font-family: 'sans-serif', 'Roboto Light';
    text-decoration: none;
    transition: .1s linear;
    width: 20%;
    text-align: center;
}

.main_link:hover {
    background-color: #3333f8;
}

.main_link:first-child {
    background-color: #068e04;
    transition: .1s linear;
}
.main_link:first-child:hover {
    background-color: #008242;
}

.table {
    width: 90%;
    border-collapse: collapse;
    margin: 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
}

/* Стили для заголовка таблицы */
.table thead tr {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

/* Границы ячеек */
.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Зебра-полосы для строк */
.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Эффект при наведении на строку */
.table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Стили для ссылок внутри таблицы */
.table a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.table a:hover {
    text-decoration: underline;
}

/* Стили статусов */
.table .status-approved {
    color: #4CAF50;
    font-weight: bold;
}

.table .status-declined {
    color: #E74C3C;
    font-weight: bold;
}
