<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Applications</title>
    <link rel="stylesheet" th:href="@{/css/applications.css}"></link>
</head>
<body>
    <h1>Applications</h1>
    <ul th:each="credit: ${credits}">
        <li th:text="${credit.id}"></li>
        <li th:text="${credit.amount}"></li>
        <li th:text="${credit.approvedSum}"></li>
        <li>
            <a th:text="${credit.client.firstName + ' ' + credit.client.middleName}" th:href="@{/clients/{id}(id=${credit.client.id})}"></a>
        </li>
    </ul>

</body>
</html>