<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"></link>
</head>
<body>
    <div class="container">
        <header class="header">
            <a class="main_link" href="/gateway/new">Создать заявку на кредит</a>
            <a class="main_link" href="/clients">Поиск клиентов</a>
            <a class="main_link" href="/applications">Заявки на кредит</a>
            <a class="main_link" href="/agreements">Договоры</a>
        </header>
    </div>
</body>
</html>