<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Application</title>
    <link rel="stylesheet" th:href="@{/css/new_app.css}"></link>
</head>
<body>
    <h1>Create new app</h1>
    <form action="/gateway/new" method="POST">
        <label>
            <input type="text" placeholder="Фамилия" name="middleName">
        </label>
        <label>
            <input type="text" placeholder="Имя" name="firstName">
        </label>
        <label>
            <input type="text" placeholder="Отчество" name="lastName">
        </label>
        <label>
            <input type="text" placeholder="Паспорт" name="passportDetails">
        </label>
        <label>
            <input type="text" placeholder="Телефон" name="phoneNumber">
        </label>
        <label>
            <input type="text" placeholder="Адрес" name="address">
        </label>
        <label>
            Семейное положение:
            <select name="maritalStatus">
                <option value="single">Не женат/Не замужем</option>
                <option value="married">Женат/Замужем</option>
            </select>
        </label>
        <label>
            <input type="number" placeholder="Сумма" name="amount">
        </label>
        <label>
            <input type="number" placeholder="Срок" name="deadline">
        </label>
        <button type="submit">Отправить</button>>
    </form>

    <form action="/applications/new" method="POST">


        <button type="submit">Отправить</button>>
    </form>
</body>
</html>